# Node
node_modules/
dist/
infra/cdk/node_modules/
infra/cdk/dist/
infra/cdk/cdk.out/
.env
*.log

# .NET
bin/
obj/
*.db
appsettings.Local.json

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# Backend (legacy)
Backend/bin/
Backend/obj/
Backend/appsettings.Development.json
Backend/appsettings.Local.json

# Docker
docker-compose.yml
docker-compose.override.yml

# Other
*.zip
*.tar
artifacts/
uploads/*


#Oracle
oracle/ 

#Claude
.claude/
claude.md
!CLAUDE.md