# Node
node_modules/
dist/
.env
*.log

# .NET
bin/
obj/
*.db
appsettings.Development.json
appsettings.Local.json

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/package-lock.json

# Backend
Backend/bin/
Backend/obj/
Backend/appsettings.Development.json
Backend/appsettings.Local.json

# Docker
docker-compose.yml
docker-compose.override.yml

# Other
*.zip
*.tar

# Ignore all files in the 'uploads' directory
uploads/*

# Ignore all files in the 'uploads' directory
uploads/*



# Ignore all files in the 'uploads' directory
uploads/*




